body
{
   background-size: cover;
}

.btn-info{
    width: 100%;
    box-shadow: 10px 10px 10px wheat;
}

.btn-primary{
    font-size: 18px;
    float:right;
}

.btn-warning,.btn-success{
    font-size: 18px;
}

.instructions{
    display: inline-block;
    width:45%;
}

#footer{
    background-color: gray;
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    color: white;
}